* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden!important;
}
body {
  font-family: 'Inter', sans-serif;
  background: #e60707;   /* optional */
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;   /* important */
}

.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  padding: 16px 24px;    /* normal padding only */
  background: #2a0000;
   overflow: hidden;
}
h1, h2, h3, p {
  margin-top: 0;
}

.page {
  padding-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
